set_io  rst 37  
set_io  second[0] 36
set_io  second[1] 35
set_io  second[2] 34
set_io  second[3] 32
set_io  second[4] 31
set_io  second[5] 28
set_io  minute[0] 26
set_io  minute[1] 25
set_io  minute[2] 23
set_io  minute[3] 21
set_io  minute[4] 19
set_io  minute[5] 18
set_io  hours[0] 13
set_io  hours[1] 12
set_io  hours[2] 11
set_io  hours[3] 10
set_io  hours[4] 9
